<!DOCTYPE html>
<html>
    <head>
        <style>
            #items{
                  margin-left: 100px;
                  margin-top: 20px;
            }
        </style>
    </head>
    <body>
        {% for item in object_list %}
        <div id="items">
         <a href="{% url 'insertsessionurl' item.ItemNumber %}"><img src="{{item.image.url}}" alt="" height="150px" width="150px"></a><br><br>
            <b>{{item.pizzaName}}</b><br>
               <b>Price:{{item.price}}</b>

        </div>
        {%endfor%}
        <a href="{% url 'selecturl' %}">Back</a>
        
        
    </body>
</html>